In [1]:
import sqlite3
import pandas as pd

db = sqlite3.connect('chroma_db/chroma.sqlite3')

In [6]:
query ="SELECT name FROM sqlite_master WHERE type='table';"
pd.read_sql_query(query,db)

                                 name
0                          migrations
1                    embeddings_queue
2             embeddings_queue_config
3                 collection_metadata
4                    segment_metadata
5                             tenants
6                           databases
7                         collections
8                     maintenance_log
9                            segments
10                         embeddings
11                 embedding_metadata
12                         max_seq_id
13          embedding_fulltext_search
14     embedding_fulltext_search_data
15      embedding_fulltext_search_idx
16  embedding_fulltext_search_content
17  embedding_fulltext_search_docsize
18   embedding_fulltext_search_config

In [8]:
query = 'select * from embeddings limit 3;'
pd.read_sql_query(query,db)

,id,segment_id,embedding_id,seq_id,created_at
0,1,1740fa01-7a27-4a95-af04-4fb55a507061,b75e954f-1bc2-4423-9d3a-949d54f722f7,b'\x00\x00\x00\x00\x00\x00\x00\x01',2025-03-30 14:22:28
1,2,1740fa01-7a27-4a95-af04-4fb55a507061,22725cd4-35ba-4301-9402-b8e3da9a7147,b'\x00\x00\x00\x00\x00\x00\x00\x02',2025-03-30 14:22:28
2,3,1740fa01-7a27-4a95-af04-4fb55a507061,d2328a8b-d34f-41c0-a7de-dfef6b5bcf2f,b'\x00\x00\x00\x00\x00\x00\x00\x03',2025-03-30 14:22:28